<!DOCTYPE html>
<html>
    <title>Shortest Path Around Campus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <h5>Instructions</h5>
    <p>Welcome to SPAC! Click on any dot on campus and click on any other dot to get the shortest path accros the George Fox Campus.</p>
    <p>Double click to reset</p>
    <div class="container">
        <div class="left-element">
            <body>
                {% include 'waypoints_gfu.svg' %}
            </body>
        </div>
        <div class="right-element">
            <label for="myCheck" id="handilabel">Handicap:</label> 
            <input type="checkbox" id="Handicap">
            <h1 id="h1">Path Length:</h1>
            <h3 id="h3">Estimated Time:</h3>
        </div>
    </div>
    <h2 id="h2"></h2>

    <script src={{ url_for('static', filename='wheelchair.js') }}></script>
    <script src={{ url_for('static', filename='front-end.js') }}></script>
</html>
